<div class="mdl-cell mdl-cell--12-col" align="center">
  <div class="docs-text-styling component-title">
    <table width="60%">
      <tr>
        <td><h3>Cadastro de Tabelas</h3></td>
        <td align="right">
          <button id="show-dialog" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
            <i class="material-icons">add</i>
            <div class="mdl-tooltip mdl-tooltip--large" for="show-dialog">
              Nova tabela
            </div>
          </button>
          <!-- Large Tooltip -->
        </td>
      </tr>
    </table>
    
  <div class="snippet-demos">
      <div class="snippet-demo-padding"></div>
        <div class="snippet-demo">
          <div class="snippet-demo-container demo-data-table demo-data-table__data-table">
            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp is-upgraded" data-upgraded=",MaterialDataTable" width="60%">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nome</th>
                  <th>Dados</th>
                  <th>Editar</th>
                  <th>Excluir</th>
                </tr>
              </thead>
              <tbody>
                <% _.each(tabelas, function(tabela){ %>
                <tr>
                  <td><%= tabela.id %></td>
                  <td><%= tabela.nome %></td>
                  <td>
                    <button id="dados<%= tabela.id %>" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
                      <i class="material-icons">list</i>
                      <div class="mdl-tooltip mdl-tooltip--large" for="dados<%= tabela.id %>">
                        Visualizar dados
                      </div>
                    </button>
                  </td>
                  <td>
                    <button id="editar<%= tabela.id %>" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
                      <i class="material-icons">mode_edit</i>
                      <div class="mdl-tooltip mdl-tooltip--large" for="editar<%= tabela.id %>">
                        Editar tabela
                      </div>
                    </button>
                  </td>
                  <td>
                    <button id="excluir<%= tabela.id %>" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
                      <i class="material-icons">delete</i>
                      <div class="mdl-tooltip mdl-tooltip--large" for="excluir<%= tabela.id %>">
                        Excluir tabela
                      </div>
                    </button>
                  </td>
                </tr>
                <%})%>
              </tbody>
            </table>
          </div>
        </div>
      <div class="snippet-demo-padding"></div>
    </div>
  </div>
</div>

<dialog class="mdl-dialog" style="width: 40%" >
  <form method="post" action="/tabela/create">
    <h4 class="mdl-dialog__title">Adicionar Tabela</h4>
    <div class="mdl-dialog__content">
      </br>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 90%">
        <input class="mdl-textfield__input" type="text" id="sample3" name="nome" required>
        <label class="mdl-textfield__label" for="sample3">Nome da tabela</label>
      </div>  
    </div>
    <div class="mdl-dialog__actions">
      <button type="submit" class="mdl-button">Salvar</button>
      <button type="button" class="mdl-button close">Cancelar</button>
    </div>
  </form>
</dialog>
<script>
  var dialog = document.querySelector('dialog');
  var showDialogButton = document.querySelector('#show-dialog');
  if (! dialog.showModal) {
    dialogPolyfill.registerDialog(dialog);
  }
  showDialogButton.addEventListener('click', function() {
    dialog.showModal();
  });
  dialog.querySelector('.close').addEventListener('click', function() {
    dialog.close();
  });
</script>