<div class="mdl-cell mdl-cell--12-col" align="center">
  <div class="docs-text-styling component-title">
    <table width="60%">
      <tr>
        <td colspan="2"><h3>Tabela: <%=tabela.nome%></h3></td>
      </tr>
      <tr>
        <td>
          <!-- Simple list -->
          <style>
          .demo-list-item {
            width: 300px;
          }
          </style>

          <ul class="demo-list-item mdl-list">
            <li class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
                <%=totalizadores[0]%>
              </span>
            </li>
            <li class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
                <%=totalizadores[1]%>
              </span>
            </li>
            <li class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
                <%=totalizadores[2]%>
              </span>
            </li>
          </ul>
        </td>
        <td>
          <!-- Simple list -->
          <style>
          .demo-list-item {
            width: 300px;
          }
          </style>

          <ul class="demo-list-item mdl-list">
            <li class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
                <%=totalizadores[3]%>
              </span>
            </li>
            <li class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
                <%=totalizadores[4]%>
              </span>
            </li>
            <li class="mdl-list__item">
              <span class="mdl-list__item-primary-content">
                <%=totalizadores[5]%>
              </span>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  <div class="snippet-demos">
      <div class="snippet-demo-padding"></div>
        <div class="snippet-demo">
          <div class="snippet-demo-container demo-data-table demo-data-table__data-table">
            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp is-upgraded" data-upgraded=",MaterialDataTable" width="60%">
              <thead>
                <tr>
                  <th>i</th>
                  <th>Intervalo</th>
                  <th>Xi</th>
                  <th>fi</th>
                  <th>fri</th>
                  <th>Fi</th>
                  <th>Fri</th>
                </tr>
              </thead>
              <tbody>
                <% _.each(linhas, function(linha){ %>
                <tr>
                  <td><%= linha.i %></td>
                  <td><%= linha.intervalo %></td>
                  <td><%= linha.Xi %></td>
                  <td><%= linha.fi %></td>
                  <td><%= linha.fri %></td>
                  <td><%= linha.Fi %></td>
                  <td><%= linha.Fri %></td>
                </tr>
                <%})%>
              </tbody>
              <% if( intervaloOcultado ){%>
                <tfoot>
                  <tr>
                    <td colspan="7">
                      Há intervalos ocultos pois não há dados para se encaixar.
                    </td>
                  </tr>
                </tfoot>
              <%}%>
            </table>
          </div>
        </div>
      <div class="snippet-demo-padding"></div>
    </div>
  </div>
</div>